.container {
    background-image: url(/images/Background.png);
}

.navbar {
    border: 1px solid rgb(240, 228, 228);
}

a {
    color: white;
}



a:hover {
    color: tomato;
}

.btn:hover {
    color: tomato;
}

.card img {
    width: auto;
}



* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.card-img-center {
    margin: 0, auto;
    position: relative;
}

.card-1 img {
    width: 500px;
    height: 300px;
}

@media screen and (max-width: 7680px) {
    .container {
        display: inline;
    }
}

@media screen and (max-width: 7680px) {
    .card-1 {
        display: inline;
    }
}

.container-social-media {
    border: 1px solid gray;
}

@media screen and (max-width: 7680px) {
    .container-social-media {
        display: block;
    }

}

@media screen and (max-width: 7680px) {
    .btn {
        margin-left: -0;
    }

}